extends layout

block content
  .container-fluid.w-75
    .row.justify-content-center.align-items-center.my-5
      .col-md-8
        .card
          .card-header.text-center.py-4
            h2 Edit Movie: #{movie.title}
          .card-body.py-4.px-5
            if msg
              ul.list-unstyled.text-danger
                each val in msg
                  li.red= val.msg
            form(action=`/movies/${movie.id}/edit`, method='POST')
              .mb-3
                label(for="title").form-label Title:
                input(type='text', name='title', value=movie.title, class='form-control', required)
              .mb-3
                label(for="director").form-label Director:
                input(type='text', name='director', value=movie.director, class='form-control', required)
              .mb-3
                label(for="year").form-label Release Year:
                input(type='number', name='year', value=movie.year, class='form-control', required)
              .mb-3
                label(for="notes").form-label Notes:
                textarea(name='notes', class='form-control', rows='3')= movie.notes
              .d-grid.gap-2
                button.btn.btn-primary(type='submit') Save Changes
                a(href='/movies').btn.btn-secondary Cancel
