extends layout

block content
  .container-fluid
    .row.justify-content-center.align-items-center.vh-100
      .col-md-8
        .card.shadow-sm
          .card-body.py-5
            h2.text-center.mb-4 Movie Details of #{movie.title}
            .container
              table.table.table-bordered.mx-auto
                tbody
                  tr
                    td.h5.pr-3 Title:
                    td.pl-3 #{movie.title}
                  tr
                    td.h5.pr-3 Director:
                    td.pl-3 #{movie.director}
                  tr  
                    td.h5.pr-3 Release Year:
                    td.pl-3 #{movie.year}
                  if movie.notes 
                    tr 
                      td.h5.pr-3 Notes:
                      td.pl-3 #{movie.notes}
            .mt-5
              .d-grid.gap-2
                a(href=`/movies/${movie.id}/edit`, class='btn btn-outline-primary') Edit Movie
                a(href=`/movies/${movie.id}/delete`, class='btn btn-outline-danger') Delete Movie
                a(href="/movies", class='btn btn-primary') Go Back
